<div class="col-md-3 col-sm-3 col-lg-3">
  <div class="list-group">
    <div *ngFor="let column of columns" dnd-draggable [dragEnabled]="true" [dragData]="column" id="{{ column }}" class="list-group-item table-field">
       <span class="list-text float-left">
        {{ column }}
      </span>
      <span class="list-icon float-left">
        <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
      </span> 
        <div class="clear-both"></div> 
    </div>
  </div>
</div>
