
.table-field {
  margin-bottom: 4px;
  border-radius: 8px;
  font-weight: bold;
  word-wrap: break-word;
}

.table-field:hover {
  margin-left: 10px;
  margin-right: -10px;

}

.table-field:first-child {
  margin-top: 10px;
}

.list-text {
  float: left;
  width: 90%;
  word-wrap: break-word;
}

.list-icon {
  float: left;
  width: 10%
}
