.file-selector-box {
    display: block;
    padding: 10px 15px;
    color: #FFF;
    background-color: #0056b8;
    border-radius: 4px;
    margin-bottom: 4px;
}

.file-input {
    visibility: hidden;
    position: absolute;
}

.selected-file {
  color: #000;
  border-radius: 0;
}

.blue-icon {
  color: #FFF;
  background-color: #7ECEFC;
  border: 0;
}

.btn-green {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #d3f703;
  color: #333f48;
  font-weight: bold;
}

.btn-green:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-reset {
  background-color: #0056b8;
  border-color: #eee;
  color: #eee;
  font-weight: bold;
}

.btn-hide-show {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.5;
  background-color: inherit;
}

.btn-hide-show:hover {
  color: #fff;
  opacity: 1;
}

.title-file-converter {
  font-weight: bold;
  letter-spacing: 0.1em;
}
