<div class="file-selector-box">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <button #hideButton *ngIf="showFileSelector; else show" class="btn btn-hide-show pull-right" id="hide" (click)="hideHandler()" data-toggle="collapse" data-target="#collapseBox"> 
        <span class="glyphicon glyphicon-arrow-up"></span> Hide
      </button> 
    </div>
  </div>
  <div class="collapse in" id="collapseBox">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <h4>Selected Files</h4>
        <hr />
        <div *ngIf="!filesChosen">
          <p>
            No files selected
          </p>
        </div>
        <ul class="list-group">
          <li class="list-group-item selected-file" *ngFor="let file of files">
            {{ file.name }}
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-md-offset-1 col-sm-offset-1 col-lg-offset-1" align="center">
        <form class="form file-selector-form" #fileForm="ngForm" (ngSubmit)="onSubmit(fileForm)">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon blue-icon" id="basic-addon1"><span class="glyphicon glyphicon-file"></span></span>
              <input #fileInput class="form-control no-border" name="file[]" (change)="onChange($event)" type="file" multiple>
            </div>
          </div>
          <button type="submit" class="btn btn-green" value="Submit">Convert files</button>
          <button type="reset" class="btn btn-reset" value="Reset" (click)="onChange($event)">Reset</button>
        </form>
      </div>
      <div class="col-md-1 col-sm-1 col-lg-1">
      </div>
    </div>
  </div>
</div>
 <ng-template #show>
  <button class="btn btn-hide-show pull-right" id="show" (click)="hideHandler()" data-toggle="collapse" data-target="#collapseBox">
    <span class="glyphicon glyphicon-arrow-down"></span> Show File Converter
  </button>
</ng-template>  
