<div class="container wrapper">
  <div class="file-selector-box">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 visible">
        <button type="submit" class="btn btn-default" value="Submit">Submit</button>
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8 visible" align="center">
        <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-default" value="Submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
