:host /deep/ .circle-tip {
  display: none;
}

:host /deep/ .circle {
  opacity: 0.5;
}

/*:host /deep/ .circle:hover .circle-tip {
  display: block;
  fill: black;
}*/

:host /deep/ .circle:hover .tooltip {
  display: block;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

:host /deep/ .circle:hover {
  opacity: 1;
}

:host /deep/ .label-style {
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
  fill: #000;
}
