<div class="row">
  <div class="col-md-4 col-sm-4 col-lg-4">
    <label class="text-blue" for="input-line">Drag a column to add a radius value to circles</label>
    <input class="form-control input-radius" id="input-radius" [value]="this.radius" type="text" placeholder="Drop value here" dnd-droppable (onDropSuccess)="addRadius($event)">
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="chart-container">
      <div #scatterchart></div>
    </div>
  </div>
</div>
