<div class="col-md-12 col-sm-12 col-lg-12">
  <div *ngIf="graph === 'scatterchart'">
    <app-scatterchart></app-scatterchart>
  </div>
  <div *ngIf="graph === 'barchart'">
    <app-barchart></app-barchart>
  </div>
  <div *ngIf="graph === 'linechart'">
    <app-linechart></app-linechart>
  </div>
  <div *ngIf="graph === 'donutchart'">
    <app-donutchart></app-donutchart>
 </div>
 <div *ngIf="graph === 'stackbarchart'">
   <app-stackbarchart></app-stackbarchart>
 </div>
 <div *ngIf="graph === 'default'">
   <app-placeholder></app-placeholder>
 <div>
</div>
