:host /deep/ .legend-key {
    float:left;
    margin-right: 1em;
}

:host /deep/ .key-dot {
    display: inline-block;
    height: .5em;
    margin-left: .5em;
    width: 1.5em;
}

:host /deep/ .label-style {
  text-transform: capitalize;
  margin:0;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
