.opacity {
  opacity: 0.5;
  pointer-events: none
}

.loading-state {
  opacity: 0.6;
  pointer-events: none;
  position: relative;
  z-index: 1000;
}

.loading-state:before {
  display: table;
  font-size: 7em;
  font-family: "FontAwesome";
  content: "\f110";
  color: #333F48;
  z-index: 1000;
  position: fixed;
  height: 0;
  width: 0;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: fa-spin 1500ms infinite linear;
  -moz-animation: fa-spin 1500ms infinite linear;
  -ms-animation: fa-spin 1500ms infinite linear;
  -o-animation: fa-spin 1500ms infinite linear;
  animation: fa-spin 1500ms infinite linear;
}
