
    <div class="container wrapper">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4 visible">
          <div class="list-group">
            <div draggable="true" id="lorem-ipsum" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
              <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
            <div draggable="true" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
            <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
            <div draggable="true" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
              <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
            <div draggable="true" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
              <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
            <div draggable="true" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
              <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
            <div draggable="true" ondragstart="dragstartHandler(event)" class="list-group-item table-field">
              Lorem ipsum
              <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-lg-8 visible">
          <app-graph-form></app-graph-form>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center visible">
              <div class="jumbotron data-placeholder margin-top10">
                <h3>Your chart will appear here!</h3>
              </div>
              <svg width="960" height="500"></svg>
            </div>
          </div>
        </div>
    </div>
