<div class="data-gen-box">
  <h3 class="data-gen-title">Generate Data Visualisation</h3>
  <hr class="divider" />
  <form (ngSubmit)="onSubmit(graphForm)" #graphForm="ngForm" class="form-inline">
    <div class="form-group form-element">
      <label class="sr-only" for="X">Value for the X axis</label>
      <div class="input-group">
        <div class="input-group-addon XY-icon">X</div>
        <input class="form-control input-xy" name="x" #name="ngModel" [ngModel]="axisData.xColumn" [(ngModel)]="axisData.xColumn" type="text"  placeholder="Drop value here" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
      </div>
    </div>
    <div class="form-group form-element">
      <label class="sr-only" for="X">Value for the Y axis</label>
      <div class="input-group">
        <div class="input-group-addon XY-icon">Y</div>
        <input class="form-control input-xy" name="y" #name="ngModel" [ngModel]="axisData.yColumn" [(ngModel)]="axisData.yColumn" type="text"  placeholder="Drop value here" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
      </div>
    </div>
    <button type="submit" class="btn btn-green form-element" value="Submit">Submit</button>
    <button type="reset" (click)="onReset()" class="btn btn-reset form-element" value="Reset">Reset</button>
  </form>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12 text-center ">
    <div class="btn-group margin-top10">
      <button [ngClass]="{'btn-chart-focus': this.graphType === 'barchart' }" [focus]="barFocusTrigger" type="button" (click)="changeGraph('barchart')" class="btn btn-chart" aria-label="barchart">
        <md-icon svgIcon="barchart" class="svg-icon"></md-icon>
      </button>
      <button [ngClass]="{'btn-chart-focus': this.graphType === 'linechart' }"[focus]="lineFocusTrigger" type="button" (click)="changeGraph('linechart')" class="btn btn-chart" aria-label="linechart">
        <md-icon svgIcon="linechart" class="svg-icon"></md-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
    <app-graph-area [graph]="graphType"></app-graph-area>
</div>
