<div class="data-preview-box">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <th *ngFor="let column of columns">{{ column }}</th>
        </thead>
      </table>
      <div id="infinite-scroller"
           appInfiniteScroller
           scrollPercent="70"
           immediateCallback="true"
           [scrollCallback]="scrollCallback">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let row of rowsToDisplay">
              <td *ngFor="let data of row">{{ data }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
