<div class="data-preview-box">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table table-hover">
        <thead>
          <th *ngFor="let column of columns">{{ column }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows | slice:firstRow:stopRow">
            <td *ngFor="let data of row">{{ data }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-hide-show pull-right" (click)="showLast($event)"><span class="glyphicon glyphicon-arrow-up"></span> Show last {{ scrollUpAmount }}</button>
      <button class="btn btn-hide-show pull-right" (click)="showNext($event)"><span class="glyphicon glyphicon-arrow-down"></span> Show next {{ scrollDownAmount }}</button>
    </div>
  </div>
</div>
