:host /deep/ .label-style {
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
  fill: #000;
}

.btn-style {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.9;
  background-color: #FFF;
  /* border-color: #0056b8; */
  border: 1px solid #ddd;
  color: #0056b8;
  font-weight: bold;
}

 .btn-style:hover {
  opacity: 1;
} 

.btn-style-active {
  opacity: 0.7; 
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
