@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Common Styles */

body{
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #333F48;
}

.divider {
  margin-top: 10px;
  border: 2px solid #eee;
}

.container.wrapper {
  /*padding-top: 2%;*/
  padding-bottom: 2.5%
}

.jumbotron.data-placeholder {
  color: #ccc;
  height: 100%;
}

.margin-top10 {
  margin-top: 10px;
}

.no-border {
  border: 0;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

/* Global Button Styles */

button:focus {
  outline:0 !important;
}

.btn-style {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #7ECEFC;
  border: 1px solid #ddd;
  color: #fff;
  margin: 1em auto;
}

.btn.btn-style:hover {
  font-weight: bold;
  color: #fff;
}

.btn.btn-style-active {
  color: #fff;
  background-color: #0056b8;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.5);
}

.btn-green {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #b3e000;
  color: #333f48;
  font-weight: bold;
}

.btn-green:hover {
  background-color: #d3f703;
  color: #333F48;
}

div.tooltip {
  display: block;
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  padding: 0.5em;
  font: 12px sans-serif;
  background: #7ECEFC;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

button .svg-icon {
  display: block;
  height: 15px;
  width: 15px;
}

/* Fixed Chart Height */

.chart-container {
  height: 500px;
}
