/* You can add global styles to this file, and also import other style files */

.container.wrapper {
  padding-top: 5%;
  padding-bottom: 2.5%
}

.visible {
    /*border: 1px solid #ff0000;*/
}

.table-field {
  margin-bottom: 4px;
  border-radius: 4px;
}


.jumbotron.data-placeholder {
  color: #ccc;
  height: 100%;
}

.margin-top10 {
  margin-top: 10px;
}